<div class="view-container">
    <div class="view-header">
        <div class="header-content">
            <h1>{{ 'INVENTORY.CATEGORIES.CATEGORIAS' | translate }}</h1>
            <p>{{ 'INVENTORY.CATEGORIES.ORGANIZA_TUS_PRODUCTOS_DIFERENTES_CATEGORIAS' | translate }}</p>
        </div>
        <div class="header-actions">
            <button class="primary-button"><lucide-icon [img]="PlusCircleIcon" size="16"></lucide-icon><span>{{ 'INVENTORY.CATEGORIES.NUEVA_CATEGORIA' | translate }}</span></button>
        </div>
    </div>
    <div class="card">
        <p class="placeholder">{{ 'INVENTORY.CATEGORIES.AQUI_MOSTRARA_LISTA_GESTION_CATEGORIAS' | translate }}</p>
    </div>
</div>