<div class="widget-header">
  <h3>{{ 'charts.cashflow.consolidated_title' | translate }}</h3>
  <div class="header-actions" (mousedown)="$event.stopPropagation()">
    <div class="widget-edit-menu">
      <button class="icon-button" [title]="'charts.menu.title' | translate" (mousedown)="toggleExportMenu($event)">
        <lucide-icon [img]="MenuIcon" size="18"></lucide-icon>
      </button>
      @if (isExportMenuOpen()) {
        <div class="edit-dropdown export-dropdown" (mousedown)="$event.stopPropagation()">
          <button (mousedown)="viewFullscreen($event)">
            <lucide-icon [img]="FullscreenIcon" size="14"></lucide-icon>
            {{ 'charts.menu.full_screen' | translate }}
          </button>
          <button (mousedown)="printChart($event)">
            <lucide-icon [img]="PrintIcon" size="14"></lucide-icon>
            {{ 'charts.menu.print' | translate }}
          </button>
          <hr/>
          <span class="dropdown-title">{{ 'charts.menu.download' | translate }}</span>
          <button (mousedown)="downloadPNG($event)">
            <lucide-icon [img]="PngIcon" size="14"></lucide-icon>
            {{ 'charts.menu.png' | translate }}
          </button>
          <button (mousedown)="downloadJPEG($event)">{{ 'charts.menu.jpeg' | translate }}</button>
          <button (mousedown)="downloadPDF($event)">{{ 'charts.menu.pdf' | translate }}</button>
          <button (mousedown)="downloadSVG($event)">{{ 'charts.menu.svg' | translate }}</button>
          <hr/>
          <button (mousedown)="downloadCSV($event)">
            <lucide-icon [img]="CsvIcon" size="14"></lucide-icon>
            {{ 'charts.menu.csv' | translate }}
          </button>
          <button (mousedown)="downloadXLS($event)">{{ 'charts.menu.xls' | translate }}</button>
        </div>
      }
    </div>
    </div>
</div>
<div class="widget-content">
  @switch (cashFlowData()?.constructor) {
      @case (Object) {
          @if ('error' in cashFlowData()!) {
              <div class="error-state">
                  <span>{{ 'widgets.errors.data_could_not_loaded' | translate }}</span>
              </div>
          } @else {
              <highcharts-chart
                [options]="chartOptions()"
                (chartInstance)="onChartInstance($event)"
                class="chart-instance">
              </highcharts-chart>
          }
      }
      @default {
          <div class="loading-state">
              <span>{{ 'widgets.loading' | translate }}</span>
          </div>
      }
  }
</div>