<vx-draft-shell
  [title]="(isEditMode() ? 'masters.tax_form.title_edit' : 'masters.tax_form.title_new') | translate"
  [subtitle]="'masters.tax_form.configure_new_tax_rate_your_transactions' | translate"
  [dirty]="taxForm.dirty"
  [saving]="isLoading()"
  [invalid]="taxForm.invalid"
  [problems]="problems()"
  [form]="taxForm"
  saveLabelKey="masters.tax_form.save_tax"
  cancelLabelKey="masters.tax_form.cancel"
  (save)="saveTax()"
  (cancelled)="cancel()"
>
  <div class="form-body" [formGroup]="taxForm">
    <div class="form-section">
      <div class="form-field">
        <label for="name">{{ 'masters.tax_form.tax_name' | translate }} *</label>
        <input id="name" formControlName="name" [placeholder]="'masters.tax_form.name_placeholder' | translate" />
      </div>

      <div class="form-grid">
        <div class="form-field">
          <label for="rate">{{ 'masters.tax_form.rate' | translate }}</label>
          <input id="rate" type="number" formControlName="rate" />
        </div>
        <div class="form-field">
          <label for="type">{{ 'masters.tax_form.type' | translate }}</label>
          <select id="type" formControlName="type">
            @for (type of taxTypes; track type) {
              <option [value]="type">{{ type }}</option>
            }
          </select>
        </div>
      </div>

      <div class="form-field">
        <label for="countryCode">{{ 'masters.tax_form.country_code_optional' | translate }}</label>
        <input id="countryCode" formControlName="countryCode" placeholder="DO, US, MX" />
      </div>
    </div>
  </div>
</vx-draft-shell>
