<vx-list-shell
  titleKey="MASTERS.BRANCHES.BRANCHES_LOCATIONS"
  [count]="branches().length"
  [empty]="branches().length === 0"
>
  <button listActions type="button" class="primary-button">
    <lucide-icon [img]="PlusCircleIcon" size="16" aria-hidden="true"></lucide-icon>
    <span>{{ 'MASTERS.BRANCHES.NEW_BRANCH' | translate }}</span>
  </button>

  <div class="table-container card">
    <table class="data-table">
      <thead>
        <tr>
          <th>{{ 'MASTERS.BRANCHES.NAME' | translate }}</th>
          <th>{{ 'MASTERS.BRANCHES.ADDRESS' | translate }}</th>
          <th>{{ 'MASTERS.BRANCHES.CITY' | translate }}</th>
          <th>{{ 'MASTERS.BRANCHES.PHONE' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        @for (branch of branches(); track branch.id) {
          <tr>
            <td>{{ branch.name }}</td>
            <td>{{ branch.address }}</td>
            <td>{{ branch.city }}</td>
            <td>{{ branch.phone }}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</vx-list-shell>
