<vx-list-shell
  titleKey="MASTERS.PAYMENT_TERMS.PAYMENT_TERMS"
  [count]="terms().length"
  [empty]="terms().length === 0"
>
  <button listActions type="button" class="primary-button">
    <lucide-icon [img]="PlusCircleIcon" size="16" aria-hidden="true"></lucide-icon>
    <span>{{ 'MASTERS.PAYMENT_TERMS.NEW_TERM' | translate }}</span>
  </button>

  <div class="table-container card">
    <table class="data-table">
      <thead>
        <tr>
          <th>{{ 'MASTERS.PAYMENT_TERMS.NAME' | translate }}</th>
          <th class="text-right">{{ 'MASTERS.PAYMENT_TERMS.NET_DAYS' | translate }}</th>
          <th class="actions-column"></th>
        </tr>
      </thead>
      <tbody>
        @for (term of terms(); track term.id) {
          <tr>
            <td>{{ term.name }}</td>
            <td class="text-right">{{ term.days }}</td>
            <td class="actions-column">
              <button
                type="button"
                class="icon-button"
                [attr.aria-label]="'MASTERS.PAYMENT_TERMS.NAME' | translate"
              >
                <lucide-icon [img]="MoreHorizontalIcon" size="18" aria-hidden="true"></lucide-icon>
              </button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</vx-list-shell>
