<div class="subview-container">
    <div class="subview-header">
        <h3>{{ 'MASTERS.BANKS.BANKS' | translate }}</h3>
        <div class="header-actions">
            <button class="secondary-button">
                <lucide-icon [img]="FilterIcon" size="16"></lucide-icon>
                <span>{{ 'MASTERS.BANKS.FILTERS' | translate }}</span>
            </button>
            <button class="primary-button">
                <lucide-icon [img]="PlusCircleIcon" size="16"></lucide-icon>
                <span>{{ 'MASTERS.BANKS.NEW_BANK' | translate }}</span>
            </button>
        </div>
    </div>
    <div class="table-container card">
        <table class="data-table">
            <thead>
                <tr>
                    <th>{{ 'MASTERS.BANKS.BANK_NAME' | translate }}</th>
                    <th>{{ 'MASTERS.BANKS.SWIFT_CODE' | translate }}</th>
                    <th>{{ 'MASTERS.BANKS.COUNTRY' | translate }}</th>
                    <th class="actions-column"></th>
                </tr>
            </thead>
            <tbody>
                @for(bank of banks(); track bank.id) {
                <tr>
                    <td><a href="#" class="table-link">{{ bank.name }}</a></td>
                    <td>{{ bank.swiftCode }}</td>
                    <td>{{ bank.country }}</td>
                    <td class="actions-column">
                        <button class="icon-button">
                            <lucide-icon [img]="MoreHorizontalIcon" size="18"></lucide-icon>
                        </button>
                    </td>
                </tr>
                } @empty {
                <tr>
                    <td colspan="4" class="empty-state">{{ 'MASTERS.BANKS.NO_BANKS_CONFIGURED' | translate }}</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>