<vx-list-shell
  titleKey="MASTERS.BANKS.BANKS"
  [count]="banks().length"
  [empty]="banks().length === 0"
>
  <button listActions type="button" class="primary-button">
    <lucide-icon [img]="PlusCircleIcon" size="16" aria-hidden="true"></lucide-icon>
    <span>{{ 'MASTERS.BANKS.NEW_BANK' | translate }}</span>
  </button>

  <div class="table-container card">
    <table class="data-table">
      <thead>
        <tr>
          <th>{{ 'MASTERS.BANKS.BANK_NAME' | translate }}</th>
          <th>{{ 'MASTERS.BANKS.SWIFT_CODE' | translate }}</th>
          <th>{{ 'MASTERS.BANKS.COUNTRY' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        @for (bank of banks(); track bank.id) {
          <tr>
            <td>{{ bank.name }}</td>
            <td>{{ bank.swiftCode }}</td>
            <td>{{ bank.country }}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</vx-list-shell>
