<div class="view-container">
  <div class="view-header">
    <div class="header-content">
      <h1>{{ 'MASTERS.LAYOUT.MASTER_DATA' | translate }}</h1>
      <p>{{ 'MASTERS.LAYOUT.MANAGE_CORE_REFERENCE_DATA_FOR_YOUR' | translate }}</p>
    </div>
  </div>
  <nav class="secondary-nav">
    <a routerLink="customers" routerLinkActive="active"><lucide-icon [img]="CustomersIcon" size="16"></lucide-icon><span>{{ 'MASTERS.LAYOUT.CUSTOMERS' | translate }}</span></a>
    <a routerLink="suppliers" routerLinkActive="active"><lucide-icon [img]="SuppliersIcon" size="16"></lucide-icon><span>{{ 'MASTERS.LAYOUT.SUPPLIERS' | translate }}</span></a>
    <a routerLink="products" routerLinkActive="active"><lucide-icon [img]="ProductsIcon" size="16"></lucide-icon><span>{{ 'MASTERS.LAYOUT.PRODUCTS' | translate }}</span></a>
    <a routerLink="price-lists" routerLinkActive="active"><lucide-icon [img]="PriceListsIcon" size="16"></lucide-icon><span>{{ 'MASTERS.LAYOUT.PRICE_LISTS' | translate }}</span></a>
    <a routerLink="taxes" routerLinkActive="active"><lucide-icon [img]="TaxesIcon" size="16"></lucide-icon><span>{{ 'MASTERS.LAYOUT.TAXES' | translate }}</span></a>
    <a routerLink="warehouses" routerLinkActive="active"><lucide-icon [img]="WarehousesIcon" size="16"></lucide-icon><span>{{ 'MASTERS.LAYOUT.WAREHOUSES' | translate }}</span></a>
    <a routerLink="units-of-measure" routerLinkActive="active"><lucide-icon [img]="UnitsIcon" size="16"></lucide-icon><span>{{ 'MASTERS.LAYOUT.UNITS' | translate }}</span></a>
    <a routerLink="currencies" routerLinkActive="active"><lucide-icon [img]="CurrenciesIcon" size="16"></lucide-icon><span>{{ 'MASTERS.LAYOUT.CURRENCIES' | translate }}</span></a>
    <a routerLink="banks" routerLinkActive="active"><lucide-icon [img]="BanksIcon" size="16"></lucide-icon><span>{{ 'MASTERS.LAYOUT.BANKS' | translate }}</span></a>
    <a routerLink="branches" routerLinkActive="active"><lucide-icon [img]="BranchesIcon" size="16"></lucide-icon><span>{{ 'MASTERS.LAYOUT.BRANCHES' | translate }}</span></a>
    <a routerLink="payment-methods" routerLinkActive="active"><lucide-icon [img]="PaymentMethodsIcon" size="16"></lucide-icon><span>{{ 'MASTERS.LAYOUT.PAYMENT_METHODS' | translate }}</span></a>
    <a routerLink="payment-terms" routerLinkActive="active"><lucide-icon [img]="PaymentTermsIcon" size="16"></lucide-icon><span>{{ 'MASTERS.LAYOUT.PAYMENT_TERMS' | translate }}</span></a>
  </nav>
  <div class="content-outlet">
    <router-outlet></router-outlet>
  </div>
</div>