<vx-list-shell
  titleKey="masters.payment_methods.payment_methods"
  subtitleKey="masters.payment_methods.statutory_note"
  [count]="methods.length"
  [empty]="false"
>
  <div class="table-container card">
    <table class="data-table">
      <thead>
        <tr>
          <th class="text-center">{{ 'masters.payment_methods.code' | translate }}</th>
          <th>{{ 'masters.payment_methods.name' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        @for (method of methods; track method.code) {
          <tr>
            <td class="text-center"><code>{{ method.code }}</code></td>
            <td>{{ method.labelKey | translate }}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</vx-list-shell>
