<div class="subview-container">
  <div class="subview-header">
    <h3>{{ 'ACCOUNTING.JOURNAL_ENTRIES.JOURNAL_ENTRIES' | translate }}</h3>
    <div class="header-actions">
      <button class="secondary-button"><lucide-icon [img]="FilterIcon"
          size="16"></lucide-icon><span>{{ 'ACCOUNTING.JOURNAL_ENTRIES.FILTERS' | translate }}</span></button>
      <a [routerLink]="['./new']" class="primary-button">
        <lucide-icon [img]="PlusCircleIcon" size="16"></lucide-icon>
        <span>{{ 'accounting.journal_entries.new_entry' | translate }}</span>
      </a>
      <!-- <button class="primary-button"><lucide-icon [img]="PlusCircleIcon" size="16"></lucide-icon><span>New Entry</span></button> -->
    </div>
  </div>
  <div class="table-container card">
    <table class="data-table">
      <thead>
        <tr>
          <th>{{ 'ACCOUNTING.JOURNAL_ENTRIES.DATE' | translate }}</th>
          <th>{{ 'ACCOUNTING.JOURNAL_ENTRIES.ENTRY' | translate }}</th>
          <th>{{ 'ACCOUNTING.JOURNAL_ENTRIES.DESCRIPTION' | translate }}</th>
          <th class="text-right">{{ 'ACCOUNTING.JOURNAL_ENTRIES.DEBIT' | translate }}</th>
          <th class="text-right">{{ 'ACCOUNTING.JOURNAL_ENTRIES.CREDIT' | translate }}</th>
          <th class="text-center">{{ 'ACCOUNTING.JOURNAL_ENTRIES.STATUS' | translate }}</th>
          <th class="actions-column"></th>
        </tr>
      </thead>
      <tbody>
        @for(entry of entries(); track entry.id) {
        <tr>
          <td>{{ entry.date }}</td>
          <td><a href="#" class="table-link">{{ entry.id }}</a></td>
          <td>{{ entry.description }}</td>
          <td class="text-right">{{ entry.debit | vxNumber:'1.2-2' }}</td>
          <td class="text-right">{{ entry.credit | vxNumber:'1.2-2' }}</td>
          <td class="text-center"><span class="status-badge" [ngClass]="getStatusClass(entry.status)">{{ entry.status
              }}</span></td>
          <td class="actions-column"><button class="icon-button"><lucide-icon [img]="MoreHorizontalIcon"
                size="18"></lucide-icon></button></td>
        </tr>
        } @empty {
        <tr>
          <td colspan="7" class="empty-state">{{ 'ACCOUNTING.JOURNAL_ENTRIES.NO_JOURNAL_ENTRIES_FOUND' | translate }}</td>
        </tr>
        }
      </tbody>
    </table>
  </div>
</div>