<div class="widget-header">
    <h3>{{ 'DASHBOARD.LOW_STOCK_PRODUCTS.PRODUCTOS_BAJO_STOCK' | translate }}</h3>
</div>
<div class="widget-content">
    @if (lowStockProducts().length > 0) {
    <ul class="product-list">
        @for(product of lowStockProducts(); track product.id) {
        <li class="product-item">
            <div class="product-details">
                <a routerLink="/inventory/products/{{product.id}}/edit" class="product-name">{{ product.name }}</a>
            </div>
            <div class="stock-level" [ngClass]="getStockSeverityClass(product.stock)">
                @if (product.stock === 0) {
                <lucide-icon [img]="AlertIcon" size="14"></lucide-icon>
                }
                <span>{{ 'DASHBOARD.LOW_STOCK_PRODUCTS.STOCK_UNIDADES' | translate: { stock: product.stock } }}</span>
            </div>
        </li>
        }
    </ul>
    } @else {
    <div class="empty-state">
        <lucide-icon [img]="PackageIcon" size="48"></lucide-icon>
        <span>{{ 'DASHBOARD.LOW_STOCK_PRODUCTS.EXCELENTE' | translate }}</span>
        <p>{{ 'DASHBOARD.LOW_STOCK_PRODUCTS.NO_HAY_PRODUCTOS_BAJO_INVENTARIO_ESTE' | translate }}</p>
    </div>
    }
</div>