<vx-list-shell
  titleKey="contacts.customers.customers"
  subtitleKey="contacts.customers.manage_your_customer_database_history"
  [count]="customers().length"
  [loading]="isLoading()"
  [empty]="customers().length === 0"
  (reload)="loadCustomers()"
>
  <a listActions routerLink="/contacts/customers/new" class="primary-button">
    <lucide-icon [img]="PlusCircleIcon" size="16" aria-hidden="true"></lucide-icon>
    <span>{{ 'contacts.customers.add_customer' | translate }}</span>
  </a>

  <div class="table-container card">
    <table class="data-table">
      <thead>
        <tr>
          <th>{{ 'contacts.customers.company_name' | translate }}</th>
          <th>{{ 'contacts.customers.contact_person' | translate }}</th>
          <th>{{ 'contacts.customers.email' | translate }}</th>
          <th>{{ 'contacts.customers.phone' | translate }}</th>
          <th class="actions-column">{{ 'contacts.customers.actions' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        @for (customer of customers(); track customer.id) {
          <tr>
            <td>
              <a [routerLink]="['/contacts/customers', customer.id, 'edit']" class="table-link">
                {{ customer.companyName }}
              </a>
            </td>
            <td>{{ customer.contactPerson }}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.phone }}</td>
            <td class="actions-column">
              <div class="action-buttons">
                <a
                  [routerLink]="['/contacts/customers', customer.id, 'edit']"
                  class="icon-button"
                  [attr.aria-label]="'contacts.customers.edit' | translate"
                >
                  <lucide-icon [img]="EditIcon" size="18" aria-hidden="true"></lucide-icon>
                </a>
                <button
                  type="button"
                  class="icon-button delete"
                  [attr.aria-label]="'contacts.customers.delete' | translate"
                  (click)="deleteCustomer(customer.id)"
                >
                  <lucide-icon [img]="TrashIcon" size="18" aria-hidden="true"></lucide-icon>
                </button>
              </div>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</vx-list-shell>
