<vx-list-shell
  titleKey="MASTERS.CUSTOMER_LIST.CUSTOMERS"
  [count]="customers().length"
  [empty]="customers().length === 0"
>
  <a listActions routerLink="/masters/customers/new" class="primary-button">
    <lucide-icon [img]="PlusCircleIcon" size="16" aria-hidden="true"></lucide-icon>
    <span>{{ 'MASTERS.CUSTOMER_LIST.NEW_CUSTOMER' | translate }}</span>
  </a>

  <div class="table-container card">
    <table class="data-table">
      <thead>
        <tr>
          <th>{{ 'MASTERS.CUSTOMER_LIST.COMPANY_NAME' | translate }}</th>
          <th>{{ 'MASTERS.CUSTOMER_LIST.TAX_ID' | translate }}</th>
          <th>{{ 'MASTERS.CUSTOMER_LIST.EMAIL' | translate }}</th>
          <th>{{ 'MASTERS.CUSTOMER_LIST.PHONE' | translate }}</th>
          <th>{{ 'MASTERS.CUSTOMER_LIST.LOCATION' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        @for (customer of customers(); track customer.id) {
          <tr>
            <td>
              <a [routerLink]="['/masters/customers', customer.id, 'edit']" class="table-link">
                {{ customer.name }}
              </a>
            </td>
            <td>{{ customer.taxId }}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.phone }}</td>
            <td>{{ customer.city }}, {{ customer.country }}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</vx-list-shell>
