.language-selector-container {
  label {
    display: block;
    font-size: var(--text-md);
    font-weight: var(--font-semibold);
    color: var(--text-primary);
    margin-bottom: var(--space-3);
  }
  .description {
    font-size: var(--text-md);
    color: var(--text-secondary);
    margin-top: var(--space-3);
  }
}
.button-group {
  display: flex;
  border: 1px solid var(--border-color);
  border-radius: var(--border-radius-md);
  overflow: hidden;
  max-width: 250px;

  button {
    flex-grow: 1;
    padding: var(--space-input-y) var(--space-padding);
    background-color: var(--bg-layer-1);
    color: var(--text-secondary);
    border: none;
    cursor: pointer;
    font-weight: var(--font-semibold);
    transition: background-color 0.2s ease, color 0.2s ease;
    &:not(:last-child) {
      border-right: 1px solid var(--border-color);
    }
    &.active {
      background-color: var(--accent-primary);
      color: var(--accent-text);
    }
  }
}
