<vx-list-shell
  titleKey="MASTERS.SUPPLIER_LIST.SUPPLIERS"
  [count]="suppliers().length"
  [loading]="isLoading()"
  [empty]="suppliers().length === 0"
  (reload)="loadSuppliers()"
>
  <a listActions routerLink="/masters/suppliers/new" class="primary-button">
    <lucide-icon [img]="PlusCircleIcon" size="16" aria-hidden="true"></lucide-icon>
    <span>{{ 'MASTERS.SUPPLIER_LIST.NEW_SUPPLIER' | translate }}</span>
  </a>

  <div class="table-container card">
    <table class="data-table">
      <thead>
        <tr>
          <th>{{ 'MASTERS.SUPPLIER_LIST.COMPANY_NAME' | translate }}</th>
          <th>{{ 'MASTERS.SUPPLIER_LIST.TAX_ID' | translate }}</th>
          <th>{{ 'MASTERS.SUPPLIER_LIST.EMAIL' | translate }}</th>
          <th>{{ 'MASTERS.SUPPLIER_LIST.PHONE' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        @for (supplier of suppliers(); track supplier.id) {
          <tr>
            <td>
              <a [routerLink]="['/masters/suppliers', supplier.id, 'edit']" class="table-link">
                {{ supplier.name }}
              </a>
            </td>
            <td>{{ supplier.taxId }}</td>
            <td>{{ supplier.email }}</td>
            <td>{{ supplier.phone }}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</vx-list-shell>
