<div class="subview-container">
    <div class="subview-header">
        <h3>{{ 'MASTERS.SUPPLIER_LIST.SUPPLIERS' | translate }}</h3>
        <div class="header-actions">
            <button class="secondary-button"><lucide-icon [img]="FilterIcon"
                    size="16"></lucide-icon><span>{{ 'MASTERS.SUPPLIER_LIST.FILTERS' | translate }}</span></button>
            <a routerLink="/masters/suppliers/new" class="primary-button"><lucide-icon [img]="PlusCircleIcon"
                    size="16"></lucide-icon><span>{{ 'MASTERS.SUPPLIER_LIST.NEW_SUPPLIER' | translate }}</span></a>
        </div>
    </div>
    <div class="table-container card">
        <table class="data-table">
            <thead>
                <tr>
                    <th>{{ 'MASTERS.SUPPLIER_LIST.COMPANY_NAME' | translate }}</th>
                    <th>{{ 'MASTERS.SUPPLIER_LIST.TAX_ID' | translate }}</th>
                    <th>{{ 'MASTERS.SUPPLIER_LIST.EMAIL' | translate }}</th>
                    <th>{{ 'MASTERS.SUPPLIER_LIST.PHONE' | translate }}</th>
                    <th class="actions-column"></th>
                </tr>
            </thead>
            <tbody>
                @for(supplier of suppliers(); track supplier.id) {
                <tr>
                    <td><a [routerLink]="['/masters/suppliers', supplier.id, 'edit']" class="table-link">{{ supplier.name
                            }}</a></td>
                    <td>{{ supplier.taxId }}</td>
                    <td>{{ supplier.email }}</td>
                    <td>{{ supplier.phone }}</td>
                    <td class="actions-column"><button class="icon-button"><lucide-icon [img]="MoreHorizontalIcon"
                                size="18"></lucide-icon></button></td>
                </tr>
                } @empty {
                <tr>
                    <td colspan="5" class="empty-state">{{ 'MASTERS.SUPPLIER_LIST.NO_SUPPLIERS_FOUND' | translate }}</td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>
