<vx-list-shell
  titleKey="masters.units_of_measure.units_measure"
  [count]="units().length"
  [empty]="units().length === 0"
>
  <button listActions type="button" class="primary-button">
    <lucide-icon [img]="PlusCircleIcon" size="16" aria-hidden="true"></lucide-icon>
    <span>{{ 'masters.units_of_measure.new_unit' | translate }}</span>
  </button>

  <div class="table-container card">
    <table class="data-table">
      <thead>
        <tr>
          <th>{{ 'masters.units_of_measure.name' | translate }}</th>
          <th>{{ 'masters.units_of_measure.symbol' | translate }}</th>
          <th>{{ 'masters.units_of_measure.type' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        @for (unit of units(); track unit.id) {
          <tr>
            <td>{{ unit.name }}</td>
            <td>{{ unit.symbol }}</td>
            <td>{{ unit.type }}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</vx-list-shell>
