<div class="page-container">
  <div class="page-header">
    <h1 class="page-title">{{ 'ACCOUNTING.LEDGER_LIST.LIBROS_CONTABLES' | translate }}</h1>
    <a [routerLink]="['/accounting/ledger-form/new']" class="btn btn-primary">
      <lucide-icon [name]="CreateIcon" [size]="16" class="mr-2"></lucide-icon>
      {{ 'ACCOUNTING.LEDGER_LIST.CREAR_NUEVO_LIBRO' | translate }}
    </a>
  </div>

  <div class="card">
    <div class="overflow-x-auto">
      <table class="table">
        <thead>
          <tr>
            <th>{{ 'ACCOUNTING.LEDGER_LIST.NOMBRE' | translate }}</th>
            <th>{{ 'ACCOUNTING.LEDGER_LIST.DESCRIPCION' | translate }}</th>
            <th>{{ 'ACCOUNTING.LEDGER_LIST.DEFECTO' | translate }}</th>
            <th class="w-1"></th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="ledgers$ | async as ledgers">
            <tr *ngFor="let ledger of ledgers" class="hover">
              <td>{{ ledger.name }}</td>
              <!-- <td>{{ ledger.description }}</td> -->
              <td>
                <!-- <span *ngIf="ledger.isDefault" class="badge badge-success">Sí</span> -->
              </td>
              <td>
                <a [routerLink]="['/accounting/ledger-form', ledger.id]" class="btn btn-sm btn-ghost">
                  {{ 'ACCOUNTING.LEDGER_LIST.EDITAR' | translate }}
                </a>
              </td>
            </tr>
            <tr *ngIf="ledgers.length === 0">
              <td colspan="4" class="text-center">{{ 'ACCOUNTING.LEDGER_LIST.NO_HAN_ENCONTRADO_LIBROS_CONTABLES' | translate }}</td>
            </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>