@use '../../../../assets/styles/view-styles' as views;

// Hereda todos los estilos de la vista de Unidades de Medida,
// ya que la estructura es muy similar.
@use '../units-of-measure/units-of-measure.page.scss';

// Estilos específicos para esta vista
.status-badge {
    display: inline-block;
    padding: 4px 10px;
    font-size: var(--text-xs);
    font-weight: var(--font-semibold);
    border-radius: var(--border-radius-full);

    &.active {
        background-color: var(--accent-surface);
        color: var(--accent-primary);
    }
}