<div class="subview-container">
  <div class="subview-header">
    <h3>{{ 'ACCOUNTING.PERIODS.ACCOUNTING_PERIODS' | translate }}</h3>
    <div class="header-actions">
      </div>
  </div>
  <div class="table-container card">
    <table class="data-table">
      <thead>
        <tr>
          <th>{{ 'ACCOUNTING.PERIODS.PERIOD' | translate }}</th>
          <th>{{ 'ACCOUNTING.PERIODS.START_DATE' | translate }}</th>
          <th>{{ 'ACCOUNTING.PERIODS.END_DATE' | translate }}</th>
          <th class="text-center">{{ 'ACCOUNTING.PERIODS.STATUS' | translate }}</th>
          <th class="actions-column">{{ 'ACCOUNTING.PERIODS.ACTION' | translate }}</th>
        </tr>
      </thead>
      <tbody>
        @for(period of periods(); track period.month) {
          <tr>
            <td><strong>{{ period.month }} {{ period.year }}</strong></td>
            <td>{{ period.startDate }}</td>
            <td>{{ period.endDate }}</td>
            <td class="text-center">
              <span class="status-badge" [ngClass]="getStatusClass(period.status)">
                {{ period.status }}
              </span>
            </td>
            <td class="actions-column">
              @if (period.status !== 'Future') {
                <button class="action-button" (click)="togglePeriodStatus(period)">
                  @if (period.status === 'Open') {
                    <lucide-icon [img]="LockIcon" size="16"></lucide-icon>
                    <span>{{ 'ACCOUNTING.PERIODS.CLOSE_PERIOD' | translate }}</span>
                  } @else {
                    <lucide-icon [img]="UnlockIcon" size="16"></lucide-icon>
                    <span>{{ 'ACCOUNTING.PERIODS.RE_OPEN' | translate }}</span>
                  }
                </button>
              }
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>