@use '../../../../assets/styles/list-page' as list;
@use '../../../../assets/styles/design-system' as ds;

:host {
  @include list.list-page;

  .action-button {
    @include ds.button-secondary('sm');
  }

  .period-name {
    display: block;
    font-size: var(--text-xs);
    color: var(--content-secondary);
  }
}
